 @import url(https://weloveiconfonts.com/api/?family=fontawesome);

@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);



[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    background: #f4f4f4;
    color: #5a5656;
    display: grid;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    margin: 0px;
    min-height: 100vh;
    place-items: center;
}


h1 {
    font-size: 1em;
}

h1,
p {
    margin-bottom: 10px;
}


/* ---------- LOGIN ---------- */

 #login {
    margin: 50px auto;
    width: 300px;
}

form fieldset input[type="text"],
input[type="password"] {
    appearance: none;
    background: #e5e5e5;
    border: none;
    border-radius: 3px;
    color: #5a5656;
    font-family: inherit;
    font-size: 14px;
    height: 50px;
    outline: none;
    padding: 0px 10px;
    width: 280px;
}

form fieldset input[type="submit"] {
    appearance: none;
    background-color: #008dde;
    border: none;
    border-radius: 3px;
    color: #f4f4f4;
    cursor: pointer;
    font-family: inherit;
    height: 50px;
    text-transform: uppercase;
    width: 282px;
}

form fieldset a {
    color: #5a5656;
    font-size: 10px;
}

form fieldset a:hover {
    text-decoration: underline;
} 
